/* Container for the Reset component */
.reset-container {
  display: grid;
  grid-template-rows: auto 36px auto 36px fit-content;
  gap: 0.5rem;
  place-items: center;
  margin: auto;
  min-width: 250px;
  height: fit-content;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #008ae6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Logo styling */
.reset-logo {
  max-width: 8rem;
  height: auto;
}

/* Container for input fields */
.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Styling for validation messages */
.validation-message {
  color: red;
  font-size: 0.75rem;
  visibility: hidden;
}

/* Button container for navigation */
.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Styling for buttons */
.reset-button {
  &.MuiButton-root {
    text-transform: capitalize;
    font-size: 0.7rem;
    justify-self: center;
  }
}

/* Styling for links */
.reset-link {
  font-size: 0.8rem;
  color: #008ae6;
  text-decoration: none;
}
